.hidden {
   display: none;
}

/* entry card styling */
.homeScreen {
   color: #aaa;
   background-color: black;
}

/* name robot card styling*/


/* choose robot card styling */


/* battledome styling */


/* game over styling */



/* buttons */
